<md-dialog aria-label="List dialog">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create new technology</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container>
                    <label>Name of technology</label>
                    <input ng-model="vm.name">
                </md-input-container>

                <md-input-container>
                    <label>Language</label>
                    <md-select ng-model="vm.selectedLanguage">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="language in vm.languages" ng-value="language" ng-disabled="$index === 1">
                            {{language.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="vm.cancel()">
                Cancel
            </md-button>
            <md-button ng-click="vm.create()" class="md-primary">
                Create
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>