<!--<form ng-submit="createNewTechnology(name, selectedName)">-->
<!--Name:<br>-->
<!--<input ng-model="name" type="text">-->
<!--<br>-->
<!--<select class="dropdown btn btn-primary dropdown-toggle" ng-model="selectedName" ng-options="language.name for language in languages">-->
<!--</select>-->

<!--<input type="submit" value="Submit">-->


<!--</form>-->

<md-dialog aria-label="List dialog">
    <md-dialog-content>
        <md-list>
            <md-list-item ng-repeat="language in languages">
                <p>{{language}}</p>
            </md-list-item>
        </md-list>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-primary">
            Close Dialog
        </md-button>
    </md-dialog-actions>
</md-dialog>